body{
    background: #7cc7ff;
    padding:0px;
    margin:0px;
}

.form {
    display: none;
    padding: 2%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20% 10% 2% 10%;
    width: 76%;
    background: #ffffff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.2);
}

.form input {
    font-size: 24px;
    padding: 2%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 0;
    background: #eeeeee;
}

.form .btn {
    font-size: 24px;
    float: right;
    border: 0;
    padding: 2%;
    text-transform: uppercase;
    background: #397caf;
    color: #ffffff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

@media (max-width: 550px) 
{
    .form input {
        margin: 0;
        padding: 5%;
        width: 90%;
    }
    
    .form .btn {
        margin: 20px 0 0 0;
        padding: 3%;

    }
    
}